


<!-- <app-edit-loans  [Name]="'Manav'" [Type]="'VIP'" (updatedList)="updatedUsers($event)" ></app-edit-loans> -->


<!-- <h1>Works correctly</h1>
<button type="button" class="btn btn-secondary" [routerLink] = "'/search'">Click me </button>
<table>
  <th>Id</th>
  <th>FirstName</th>
  <th>LastName</th>
  <tr *ngFor ="let client of List" >
    <td>{{client.id}}</td>
    <td>{{client.firstname}}</td>
    <td>{{client.lastname}}</td>
    <td><button type="button" class="btn btn-primary" [routerLink] = "['/edit',client.id]">Edit</button> | <button type="button" class="btn btn-primary" [routerLink] = "['/delete',client.id]">Delete</button></td>
  </tr>
</table> -->

 <!-- template form -->
<form #clientform="ngForm" (submit)="client(clientform)">
  <input type="text" [(ngModel)]="firstname" name="firstname" required>
  <br/>
  <select [(ngModel)]="clientType" name="clientType">
    <option value ="Premium">Premium</option>
    <option value ="Optional">Optional</option>
  </select>
  <br/>
  <button type="submit" [disabled]= "!clientform.valid">Add client</button>
  <button  (click)="resetform(clientform)">reset Form</button>
</form>
<br/>

<!-- <ul *ngFor = "let user of users"></ul> -->

<!-- <ng-container *ngIf="isTrue">
  <div *ngIf="msg">
    this is a div
  </div>
</ng-container>
<ng-container>
  This is a container div
</ng-container> -->
<!-- <div>
  {{firstname}}
</div> -->
<!-- <div *ngIf = "msg">
  <h1>hello</h1>
</div> -->