<!-- 



<h1>{{title}}</h1>
<div *ngIf = "msg">
  Hello!!!!
</div>

<div *ngFor = "let name of arr">
  {{name}}
</div>

<div *ngIf="msg" >
  <div [innerHTML] = "object.firstname"></div>
</div>

<button (click) = "sayHello('manav')">Click me to say Hello </button>
<div (mouseover) = "mouseHover('manav')">On mouse Hover...</div>
<input [(ngModel)]="username"/>
<div>{{username}}</div>
<div> {{ lowercaseexample | lowercase }} </div>
<div> {{ uppercaseexample | uppercase }} </div>
<div> {{ dateexample | date }} </div>
<div> {{ jsonexample | json }} </div>
<div> {{ currencyexample | currency }} </div>

 <div [ngClass] = "'c1'">This is a ngClass</div>
<div [ngClass] = "'c1 c2'">This is a ngClass with multiple classes</div>
<div [ngClass] = "styleclass">This is a ngClass with dynamic class name</div>
<div [ngClass] = "condition === 'c1' ? 'c1':'c2'">This is a ngClass with the conditional class name</div>


<h1 class = "c1">Hello</h1>
<div *ngIf = " msg; then updated; else error " ></div>

<ng-template #updated>
  <h2 style = "background-color: azure; color: chocolate;">updated successfully</h2>
</ng-template>

<ng-template #error>
  Error while updating 
</ng-template>

<h1>ngFor</h1>

<ul>
  <li *ngFor="let name of arr; index as i">
    <div>
      {{ i+1 }} {{ name }}
    </div>
  </li>
</ul>

<h1>ngFor other</h1>

<ul>
  <li *ngFor="let name of arr; odd as o; even as e">
    <div *ngIf="e" style= "background-color: cadetblue; color: aliceblue;"  >
      {{ name }}
    </div>
    <div *ngIf="o" style= "background-color:burlywood; color: aliceblue;"  >
      {{ name }}
    </div>
    <ng-template #error >
      <div [ngStyle] = "{'background-color' : 'lightgreen', 'color' : 'yellow'}">
        Error while updating
      </div> 
    </ng-template> 
  </li>
</ul>

<h1>ngSwitch</h1>

<div [ngSwitch] ="Marvel">

  <div *ngSwitchCase = "'Captian America'"> Captian America : Shield</div>
  <div *ngSwitchCase = "'Thor'"> Thor : Hammer</div>
  <div *ngSwitchCase = "'Dr Strange'"> Dr Strange : Magician</div>
  <div *ngSwitchCase = "'Wanda vision'"> Wanda vision : witch</div>
  <div *ngSwitchCase = "'Spiderman'"> Spiderman : Ironman</div>
  <div *ngSwitchDefault > New supe is coming</div>

</div>

<h1>ngStyle</h1>
<div [ngStyle] = "{'background-color' : 'lightgreen', 'color' : 'yellow'}">This is a example of ngStyle</div>
<div [ngStyle] = "{'background-color' : styleprop}">This is a example of dynamic ngStyle</div> --> 
<!-- <home></home> -->
<router-outlet></router-outlet>
<!-- <router-outlet name = "type "></router-outlet> -->